* {
  font-size: 100px;
  text-align: center;
  color: white;
}
button {
  color:white;
  background-color: blue;
  border-radius: 500px;
  padding: 50px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: lightblue;
  color: black;
  border: solid 1px blue;
}